/* #region Common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* min-width: 800px; */
    color: var(--zoom-white);
    
    
}

:root {
    --zoom-black: #000000;
    --zoom-dark: #222222;
    --zoom-light: #4a4a4a;
    --zoom-white: #fefefe;
    --zoom-attention: #ea1026;
    --zoom-succes: #4bc800;
}

.d_flez {
    display: flex;
}

#head_site, #foot_site {
    width: 100%;
    padding: 0.5rem;
    position: fixed;
    z-index: 100;
}


/* #endregion Common */

/* #region Debug */


.debug .container {
    height: 5000px;
    background-color: aquamarine;
    
}

.debug .col {
    background-color: #4bc800;
    height: 500px;
    border: 1px dashed;
}


/* #endregion Debug */

/* #region Header */

#head_site {
    height: 40px;
    background-color: var(--zoom-black);
}

.h_menu {
    justify-content: end;
    gap: 0.5rem;
}

.view_menu, .full_menu {
    background-color: var(--zoom-light);
    border-radius: 0.2rem;
    padding: 0.2rem;
    color: var(--zoom-white);
}


/* #endregion Header */

/* #region Main */

main {
    background-color: aquamarine;
    overflow-y: auto;
    height: calc(100vh - 40px - 40px);
    padding-top: 6rem;
    /* width: 1920px;
    margin: auto; */

}
.container {
    width: 95%;
    margin: auto;
    /* max-width: 1170px; */
}

.row {
    flex-wrap: wrap;
}

.col {
    width: calc(100% / 7);
    padding: 0.3rem;

}

.card {
    background-image:url(https://picsum.photos/140);
    background-size: cover;
    height: 140px;
    position: relative;

}

.user {
    position: absolute;
    bottom: 0;
    background-color: var(--zoom-light);
    padding: 0.2rem;
}



/* #endregion Main */


/* #region Footer */

#foot_site {
    height: 80px;
    background-color: var(--zoom-dark);
}


/* #endregion Footer */

